body {
  background-color: #cee0c5;
  text-align: center;
}

.size-1 {
  height: 300px;
  border-radius: 50%;
}

div img {
  height: 200px;

}

.column {
  width: 30%;
  float: left;
  padding: 10px;
  border: 3px solid #3c9687;
  text-align: center;
}

.column img, .column p {
  border: 1px dotted black;
}

.col1 {
  background-color: #43e53d;
}
.col2 {
  background-color: #e53dc3;
}
.col3 {
  background-color: #e5d43d;
}
